
@font-face {
    font-family: 'MyFont';
    src: url('./fonts/OpenSans-Medium.ttf') format('truetype'), 
    url('./fonts/OpenSans-Medium.woff') format('woff'),
        url("./fonts/OpenSans-Medium.woff2") format("woff2");
}

body{
    font-family: MyFont !important;
}
/*------------------------
-----------------------------
----------------------------*/
.header {
    height: 450px;
    background-color: #76593d;
}

.image {
    height: 100%;
}

.header-image {
    text-align: center;
}

.c1 {
    margin-top: 40px;
}
.logo{
    width: 18%;
}
.logo-image {
   width: 100%;
}

.estatelogo {
    display: flex;
    align-items: center;
}

.text1 {
    font-size: 30px;
    margin-left: 10px;
    font-weight: 600;
    color: #3c3b3b;
}

.text2 {
    margin-top: 50px;
    font-size: 28px;
    font-weight: 500;
    color: #3c3b3b;
    margin-bottom: 30px;
}

.items {
    font-size: 18px;
    color: #575555;
}

.next {
    width: 12%;
}

.button {
    margin: 60px 0px;
}

.input {
    display: grid;
}

.container2 {
    margin-top: 50px;
    margin-bottom: 50px;
}

.c11 {
    display: none;
    transition: .5s ease-in-out;
}

.c2 {
    display: none;
}

.c22 {
    display: unset;
}

.input {
    margin-bottom: 24px;
}

.label {
    margin-bottom: 6px;
    font-size: 17px;
    font-weight: 500;
    color: gray;
}

.forminput {
    width: 100%;
    border: none;
    border-bottom-color: currentcolor;
    border-bottom-style: none;
    border-bottom-width: medium;
    border-bottom: 1px solid #d7d5d5;
    color: gray;
}
.forminput:hover , .forminput:focus{
outline: none;
}
.forms{
    width: 40%;
}
.slideUp {
    animation-name: slideUp;
    -webkit-animation-name: slideUp;

    animation-duration: .9s;
    -webkit-animation-duration: .9s;

    animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: ease-in-out;

}

@keyframes slideUp {
    100% {
        transform: translateY(0%);
    }

    0% {
        transform: translateY(100%);
    }
}

.back,
.submit {
    width: 60%;
}
 .back{
    background-color: white !important;
    color: #3c3b3b !important;
    border: 1px solid #3c3b3b !important;
}
.selectcountry{
    background-color: white;
border: 2px solid #d9d7d7;
border-radius: 20px;
padding: 10px 20px;
}
.text4{
    font-size: 12px;
text-align: left;
}
.policy{
    text-decoration: none;
}
.privacy{
    margin:20px 0px;
}
/*----------------------
  ---------responsive----------------
  --------------------------*/
@media(max-width:1000px) {
    .header {
        height: 390px;
    }
}

@media(max-width:850px) {
    .header {
        height: 330px;
    }
}

@media(max-width:720px) {
    .header {
        height: 260px;
    }
}

@media(max-width:590px) {
    .header {
        height: 200px;
    }
}

@media(max-width:450px) {
    .header {
        height: 200px;
    }
}

@media(max-width:390px) {
    .header {
        height: 180px;
    }
}

@media(max-width:360px) {
    .header {
        height: 160px;
    }
}

@media(max-width:340px) {
    .header {
        height: 150px;
    }
}

@media(max-width:1000px) {
    .logo {
       width: 22%;
    }
}

@media(max-width:767px) {
    .text1 {
        font-size: 28px;
    }

    .text2 {
        font-size: 24px;
    }

    .items {
        font-size: 16px;
    }
    .c1{
        max-width: 90% !important ;
        width: 100% ;
    }
    .logo{
        width: 24%;
    }
}

@media(max-width:550px) {
    .logo {
       width: 40%;
       margin-right: auto;
margin-left: auto;
    }
.text{
    position: relative;
    height: 580px;
}
    .text1 {
        font-size: 26px;
    }

    .text2 {
        font-size: 22px;
        margin-top: 50px;
    }

    .items {
        font-size: 16px;
    }
    .button{
        position: absolute;
width: 90%;
bottom: 0;
margin-right: auto;
margin-left: auto;
right: 0;
left: 0;
    }
}

@media(max-width:450px) {
    .logo {
        width: 46%;
     
    }

    .text1 {
        font-size: 24px;
    }

    .text2 {
        font-size: 20px;
    }

    .items {
        font-size: 14px;
    }
     .next , .submit , .back{
        font-size: 12px !important;
    }
}


@media(max-width:400px) {
    .logo {
        width: 46%;
       
    }

    .text1 {
        font-size: 18px;
    }

    .text2 {
        font-size: 16px;
    }

    .items {
        font-size: 11px;
    }

    .container {
        max-width: 100%;
        width: 90% !important;
        padding: 0px !important;
    }
}



@media(max-width:1000px){
    .next , .submit , .back{
        width: 20%;
    }
}



@media(max-width:600px){
    .next , .submit , .back{
        width: 40%;
    }
}

@media(max-width:550px){
  
    .next {
        width: 100%;
       
    }
    .back , .submit{
        width: 100%;
    }
}

@media(max-width:1200px){
    .forms{
        width: 50%;
    }
}

@media(max-width:992px){
    .forms{
        width: 60%;
    }
}

@media(max-width:768px){
    .forms{
        width: 70%;
    }
}

@media(max-width:490px){
    .forms{
        width: 100%;
    }
    .label{
        font-size: 14px;
    }
    .forminput{
        font-size: 12px;
    }
    .back, .submit {
        width: 100%;
      }
      .text4{
        font-size: 10px;
      }
}


